<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.ConexionBD" connectionString="workstation id=AppAlarma.mssql.somee.com;packet size=4096;user id=amiranda_SQLLogin_1;pwd=zn16w67ij1;data source=AppAlarma.mssql.somee.com;persist security info=False;initial catalog=AppAlarma"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>