<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

<system.serviceModel>
	<!--<behaviors>
		<serviceBehaviors>
			<behavior>
				Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación 
				<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				Para recibir detalles de las excepciones en los errores para la depuración, establezca el siguiente valor en true. Para no revelar información sobre las excepciones establézcalo en false antes de la implementación 
				<serviceDebug includeExceptionDetailInFaults="false"/>
			</behavior>
		</serviceBehaviors>
		<endpointBehaviors>
			<behavior name="web">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
	</behaviors>-->
	<behaviors>
		<endpointBehaviors>
			<behavior name="webby">
				<webHttp/>
			</behavior>
		</endpointBehaviors>
	</behaviors>
	
	<bindings>
		<basicHttpBinding>
			<binding name="ServiciosAppClient"/>
		</basicHttpBinding>

	</bindings>
	<client>
		<endpoint address="http://aplicacionesabrahm.somee.com/ServiciosApp.svc"
			binding="webHttpBinding"
			contract="WCFServiciosApp.IServiciosApp" name="ServiciosAppClient" behaviorConfiguration="webby">
		</endpoint>
	</client>
</system.serviceModel>
</configuration>